@using Microsoft.Extensions.Logging

@inject IJSRuntime JsRuntime
@inject ILoggerFactory LoggerFactory

<div id="yt-player"></div>

@code {
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await new Player.YouTubePlayer(JsRuntime, LoggerFactory.CreateLogger<Player.YouTubePlayer>()).Initialize("yt-player");
        }
    }
}
