@page "/{roomName}/{userName}"

@using Jukebox.Player.Base

@implements IAsyncDisposable

@inject IHubStore HubStore
@inject IDispatcher Dispatcher
@inject NavigationManager NavigationManager

<MatH2 Class="text-center pb-5">Room: @RoomName</MatH2>

<div class="mat-layout-grid">
    <div class="mat-layout-grid-inner">
        <div class="mat-layout-grid-cell mat-layout-grid-cell-span-6">
            @*<div class="mat-layout-grid-inner">
                <div class="mat-layout-grid-cell mat-layout-grid-cell-span-12 mat-elevation-z6">
                    <Controls></Controls>
                </div>
                <div class="mat-layout-grid-cell mat-layout-grid-cell-span-12 mat-elevation-z6">*@
            <div class="mat-elevation-z3">
                <Controls></Controls>
            </div>
            <MatAccordion Class="mat-elevation-z6">
                <MatExpansionPanel>
                    <MatExpansionPanelSummary>
                        <MatExpansionPanelHeader>Player</MatExpansionPanelHeader>
                    </MatExpansionPanelSummary>
                    <MatExpansionPanelDetails>
                        <Player></Player>
                    </MatExpansionPanelDetails>
                </MatExpansionPanel>
            </MatAccordion>
            @*</div>
                <div class="mat-layout-grid-cell mat-layout-grid-cell-span-12 mat-elevation-z6">*@
            <MatAccordion Class="mat-elevation-z6">
                <MatExpansionPanel @bind-Expanded="@_playlistOpened">
                    <MatExpansionPanelSummary>
                        <MatExpansionPanelHeader>Playlist</MatExpansionPanelHeader>
                    </MatExpansionPanelSummary>
                    <MatExpansionPanelDetails>
                        <Playlist></Playlist>
                    </MatExpansionPanelDetails>
                </MatExpansionPanel>
            </MatAccordion>
            @*</div>
                </div>*@
        </div>
        <div class="mat-layout-grid-cell mat-layout-grid-cell-span-6">
            <MatTabGroup Class="mat-elevation-z6">
                <MatTab Label="Users">
                    <UserList></UserList>
                </MatTab>
                <MatTab Label="Chat">

                </MatTab>
                <MatTab Label="YouTube">
                    <SearchList Type="@PlayerType.YouTube"></SearchList>
                </MatTab>
                <MatTab Label="Spotify">

                </MatTab>
            </MatTabGroup>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public string RoomName { get; set; }

    [Parameter]
    public string UserName { get; set; }

    private bool _playlistOpened;

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        await HubStore.Initialize(Dispatcher, NavigationManager.ToAbsoluteUri("/jukeboxHub"), RoomName, UserName);
    }

    public async ValueTask DisposeAsync()
    {
        await HubStore.DisposeAsync();
        Console.WriteLine("Room leaved");
    }

}
