@inherits LayoutComponentBase

@*<div class="sidebar">
    <NavMenu />
</div>*@

<section class="container-fluid">
    @Body
</section>
<footer class="page-footer">
    <div class="flex-1">
        © 2020 jukebox Version 0.1 - Developed by pux
    </div>
</footer>
