@using Jukebox.Player.Base

@inherits Fluxor.Blazor.Web.Components.FluxorComponent

@inject IState<Jukebox.Shared.Store.States.PlaylistState> State

<div class="video-container">
    @if (State.Value?.CurrentSong?.Type == PlayerType.YouTube)
    {
        <YouTubePlayer></YouTubePlayer>
    }
</div>